<!DOCTYPE html>
<html lang="en">
<!------- Head ------>
<head>
  <!------- Fonte importada ------>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
  </style>
  <!-------------- Meta ---------->
  <meta name="description"
    content="Classificação e artilheiros do futebol de Cachoeira do Sul atualizadas!">
  <meta name="keywords"
    content="Futebol, Várzea, Futebol varzeano, Cachoeira do Sul, Quadras Cachoeira do Sul, Classificação, Artilheiros, Times Cachoeira do Sul, Derlizão">
  <meta name="robots" content="">
  <meta name="revisit-after" content="7 day">
  <meta name="language" content="Portuguese">
  <meta name="generator" content="N/A">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FutINFO - Classificação e artilheiros</title>
  <!------- Estilização ------>
  <link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/CSS/classificacao.css">
</head>
<!------- Body ------>

<body>
  <!------- Header ------>
  <header class="d-block d-sm-block d-md-block d-lg-block">
    <div class="container container-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <!------- Logo ------>
        <a href="#" class="navbar-brand">
          <img class="logo_header" src="/Images/LOGO-FUTINFO.jpg">
        </a>
        <!------- Botão menu Mobile ------>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuHeader"
          aria-controls="conteudoNavbarSuportado" aria-expanded="true" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuHeader">
          <!------- Menu Header ------>
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active py-2"><a href="/pagina-inicial">Início</a></li>
            <li class="nav-item py-2"><a href="#">Classificação e artilheiros</a></li>
            <li class="nav-item py-2"><a href="#">Ver quadras</a></li>
            <li class="nav-item py-2"><a href="#">Sobre a FutINFO</a></li>
          </ul>
          <!------- Botão inscrever-se ------>
          <div class="ml-auto py-1">
           <div class="dropdown">
              {{#if decoded.afiliado}}
              <button type="button" class="btn btn-person dropdown-toggle" href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Olá, {{decoded.nome}}!
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="divAcessarAfiliado" onclick="">
                <a class="dropdown-item" href="/afiliado/registrar-quadra">Acessar configurações <br> da quadra ></a>
                <a class="dropdown-item py-2" href="/usuario/ver-perfil"><span class="inicio-text">-</span> Editar meu perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item py-2" onclick="logout()">
                 <div class="btn btn-danger btn-danger-person"> Fazer logout
                 </div>
                 </a>
              {{else if decoded}}
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item py-2" href="/usuario/horarios-reservados"><span class="inicio-text">-</span> Histórico de agendamento<br>de quadras </a>
                <a class="dropdown-item py-2" href="/usuario/ver-perfil"><span class="inicio-text">-</span> Editar meu perfil</a>
                <a class="dropdown-item py-2" href="/admin/adicionar-classificacao"><span class="inicio-text">-</span> Acessar Dashboard</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item py-2" onclick="logout()">
                 <div class="btn btn-danger btn-danger-person"> Fazer logout
                 </div>
                 </a>
              </div>
              <button type="button" class="btn btn-person dropdown-toggle" href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Olá, {{decoded.nome}}!
              </button>
              {{else}}
              <button type="button" onclick="redirecionarLogin()" class="btn btn-person dropdown-toggle" href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Entrar ou inscrever-se
              </button>
              {{/if}}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
   <!------- Section ------>
   <section class="mt-2">
    <div class="text-classificacao-area w-100">
      <h1 class="h1-classificacao">Classificação e artilheiros</h1>
    </div>
     <div class="container-fluid">
       <div class="row py-3">
   <!------- Área da tabela de classificação ------>
        <div class="px-3 col-xl-7 col-lg-6 col-md-7 col-sm-12 tabela-col ">
   <!------- Tabela ------>
          {{#each times_resultadoJogos_divisao}}
            <div class="tabela-content-area py-3">
              <div class="divisao-text-area my-3 mb-2">
              <span class="divisao-text mt-2">{{this.divisaoAtual}}º Divisão</span>
            </div>
          <div class="tabela-area">
            <table class="table table-bordered mt-2">
              <thead>
                <tr>
                  <th scope="col" class="th-time">Time</th>
                  <th scope="col">Pts</th>
                  <th scope="col">J</th>
                  <th scope="col">V</th>
                  <th scope="col">D</th>
                  <th scope="col">E</th>
                </tr>
              </thead>
              <tody>
                {{#each this.times}}
                <tr>
                  <th scope="row">{{this.classificacao}}º - {{this.nome}}</th>
                    <th class="th-center">{{this.ponto}}</th>
                    <th class="th-center">{{this.jogo}}</th>
                    <th class="th-center">{{this.vitoria}}</th>
                    <th class="th-center">{{this.derrota}}</th>
                    <th class="th-center">{{this.empate}}</th>
                  </tr>
                  {{/each}}
              </tbody>
            </table>
          </div>
   <!------- Rodada ------>
          {{#each this.resultadoJogosRodada}}
          <div class="rodada-area">
            <div class="rodada">
              <div class="arrow-left-area">
                <img src="/Images/Classificação-artilheiros/left-arrow.svg" class="arrow-left">
              </div>
              <div class="text-rodada-area">
              <h1 class="h1-rodada">{{this.rodadaAtual}}º Rodada</h1>
            </div>
               <div class="arrow-right-area">
                <img src="/Images/Classificação-artilheiros/right-arrow.svg" class="arrow-right">
              </div>
            </div>
   <!------- Resultado dos jogos ------>
   
            <div class="resultado-area mt-2">
              <div class="resultado mx-auto py-3">
                {{#each this.resultadoJogos}}
                <div class="time-resultado-area py-3">
                  <div class="time-gol-area">
                  <span class="span-time px-1">{{this.timeId1.nome}}</span>
                  <span class="span-gol px-1">{{this.golTime1}}</span>
                  <span class="span-X px-2">X</span>
                  <span class="span-gol px-1">{{this.golTime2}}</span>
                  <span class="span-time px-1">{{this.timeId2.nome}}</span>
                </div>
                {{/each}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
       {{/each}}
   <!------- Artilheiros ------>
        <div class="col-xl-5 col-lg-6 col-md-5 col-sm-12 artilheiros-col py-3">
          <div class="artilheiros-content-area">
   <!------- H1 Artilheiros ------>
            <div class="artilheiros-text-h1">
              <h1 class="h1-artilheiros">Artilheiros</h1>
            </div>
   <!------- Divisão artilheiros ------>
          {{#each artilheiros_divisao}}
          <div class="artilheiros-table-area">
          <div class="text-divisao-artilheiros my-3 mb-2">
            <span class="text-artilheiros-divisao">
              {{this.divisaoAtual}}º Divisão
            </span>
          </div>
   <!------- Tabela artilheiros ------>
          <div class="tabela-artilheiros-area">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="th-time">Time</td>
                  <th scope="col" class="th-center">Jogador</td>
                  <th scope="col" class="th-center">Gols</td>
                </tr>
              </thead>
              {{#each this.artilheiros}}
              <tbody>
                <tr>
                  <td scope="row" class="th-center">{{this.timeId.nome}}</td>
                  <td class="th-center">{{this.nome}}</td>
                  <td class="th-center">{{this.gol}}</td>
                </tr>
              </tbody>
              {{/each}}
            </table>
          </div>
          </div>
          {{/each}}
        </div>
         </div>
       </div>
       </div>
   </section>
  <!------- Footer ------>
  <footer>
    <div class="container-footer">
      <div class="brand-footer d-flex">
        <img src="/Images/LOGO-FUTINFO.jpg" class="brand-footer-IMG">
        <p class="copyText">FutINFO 2020 ©. Todos os direitos reservados.</p>
      </div>
      <div class="list-footer">
        <h1 class="h1TitleFooter">Páginas</h1>
        <div class="liFooter">
          <ul>
            <li><a href="#">Voltar para o início</a></li>
            <li><a href="#">Classificação e artilheiros</a></li>
            <li><a href="#">Ver quadras</a></li>
            <li><a href="#">Sobre a FutINFO</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!------- Scripts ------>
  <script src="/JS/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="/JS/bootstrap.min.js" type="text/javascript"></script>
  <script src="/JS/popper.min.js" type="text/javascript"></script>
  <script src="/JS/paginaInicial.js" type="text/javascript"></script>
  </body>
  </html>