<!DOCTYPE html>
<html lang="en">
<!------- Head ------>

<head>
    <!------- Fonte importada ------>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
    </style>
    <!-------------- Meta ---------->
    <meta name="description"
        content="Classificação e artilheiros de cada divisão atualizadas, quadras com fotos em HD disponíveis para visualização!">
    <meta name="keywords"
        content="Futebol, Várzea, Futebol varzeano, Cachoeira do Sul, Quadras Cachoeira do Sul, Classificação, Artilheiros">
    <meta name="robots" content="">
    <meta name="revisit-after" content="7 day">
    <meta name="language" content="Portuguese">
    <meta name="generator" content="N/A">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FutINFO - Futebol várzeano de Cachoeira do Sul</title>
    <!------- Estilização ------>
    <link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/listagemHorarios.css">
</head>
<!------- Body ------>

<body>
    
    <!------- section ------->
    <section>
        <div class="horariosPendentes">
            {{#if horarioPendente}}
            <h1 class="titulo">
                Horários pendentes
            </h1>
            {{/if}}
            <!------- card area ------->
            <div class="cardArea">
                {{#each horarioPendente}}
                <div class="card">
                    <h4 class="nomePendente">
                        {{this.usuarioId.nome}}
                    </h4>

                    <div class="cardConteudo">Dia:{{this.dia}}</div>
                    <div class="cardConteudo">Início:{{this.horarioIntervalo.start}}</div>
                    <div class="cardConteudo">Fim:{{this.horarioIntervalo.end}}</div>
                    <div class="cardConteudo">Aprovado:{{#if this.aprovado}}Sim{{else}}Não{{/if}}</div>

                    <button class="btn btn-danger" value="{{this._id}}" onclick="recusar()">Recusar</button>
                    <button class="btn btn-success" value="{{this._id}}" onclick="aprovar()">Aprovar</button>
                </div>
                {{else}}
            </div>
            <h1 class="titulo">
                Você não possui horários pendentes
            </h1>
            {{/each}}
        </div>


        <div class="horariosAprovados">
            {{#if horarioAprovado}}
            <h1 class="titulo">
                Horários aprovados
            </h1>
            {{/if}}
            <!------- card area ------->
            <div class="cardArea">
                {{#each horarioAprovado}}
                <div class="card cardAprovado">
                    <h4 class="nomeAprovado">
                        {{this.usuarioId.nome}}
                    </h4>

                    <div class="cardConteudo">Dia:{{this.dia}}</div>
                    <div class="cardConteudo">Início:{{this.horarioIntervalo.start}}</div>
                    <div class="cardConteudo">Fim:{{this.horarioIntervalo.end}}</div>
                    <div class="cardConteudo">Aprovado:{{#if this.aprovado}}Sim{{else}}Não{{/if}}</div>

                </div>
                {{else}}
            </div>
            <h1 class="titulo">
                Você não possui horários aprovados
            </h1>
            {{/each}}
        </div>
    </section>
    
    <!------- Scripts ------>
    <script src="/JS/listagemHorarios.js"></script>
    <script src="https://kit.fontawesome.com/fa9fd24602.js" crossorigin="anonymous"></script>
</body>

</html>